@(id : Integer)(title : String)

@main("addNewResponse") {
    <h3 class="text-center">@title</h3>
    <form action="@routes.AllQuestions.createResponse(id)" method="post" class="form-inline text-center">
        <div class="form-group">
            <label for="question-title">Add your response</label><br>
            <input class="form-control" type="text" name="response"><br><br><br>
            <button class="form-control" type="submit">Save</button><br>
        </div>
    </form>
}
