@()

@main("addNewQuestion") {

    <form action="@routes.AllQuestions.createQuestion()" method="post" class="form-inline text-center">
    <div class="form-group">
            <label for="question-title">Add your question</label><br>
            <input class="form-control" type="text" name="title"><br><br><br>
            <label for="question-detail">Details</label><br>
            <input class="form-control" type="text" name="detail"><br><br><br>
            <label for="question-detail">Tags</label><br>
            <input class="form-control" type="text" name="tags"><br><br><br>
            <button class="form-control" type="submit">Save</button><br>
    </div>

    </form>
}
