@(allQuestions:List[Question])

@main("showAll") {


    @for(question <- allQuestions){
        <h3 class="text-center bg-info">@question.title</h3>
        <p class="text-center"><small><em>@question.tags</em></small></p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><small>@(question.totalAnswers-1) Answers</small></div>
            <div class="col-md-4"><a class="btn btn-default" href="@routes.AllQuestions.addResponse(question.id,question.title)" role="button">Write answer</a><b>asked on</b>:@question.date <b>By:</b><em>@question.userId</em></div>
        </div>
    }
}
